* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

/*  **************************
    HEADER
**************************  */
.container > header {
	display: flex;
	align-items: stretch;
	justify-content: space-evenly;
	color: white;
	background-color: #413e3e;
	padding: 0 1rem;
}

.container > header > * {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 0 1rem;
	margin: 0.3rem 0.5rem;
}

header > *:first-child {
	justify-content: flex-end;
	flex: 0;
	padding: 0;
}

header > .head {
	text-align: center;
	flex-direction: column;
	align-items: stretch;
	flex-grow: 7;
}

header > .settings {
	justify-content: flex-end;
	gap: 3rem;
}

header > .profile > div {
	background-color: #c7c3c3;
	opacity: 0.8;
	border-radius: 50%;
	width: 60px;
	min-height: 60px;
	flex-basis: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile > div > * {
	font-size: 2rem;
}

/*  **************************
    HEADER
**************************  */
main {
	min-height: 100vh;
}